version: '3.8'
services:
  postgres_db:
    image: postgres:16
    container_name: my_project_db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: root
      POSTGRES_DB: mydb
    volumes:
      - pg_data:/var/lib/postgresql/data
    restart: always

volumes:
  pg_data: